
h1 {
    font-size: 30px;
    line-height: 39px;
    font-weight: inherit;
}

h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: inherit;
}

h3 {
    font-size: 20px;
    line-height: 26px;
    font-weight: inherit;
}

h4 {
    font-size: 18px;
    line-height: 24px;
    font-weight: inherit;
}

h5 {
    font-size: 16px;
    line-height: 21px;
    font-weight: inherit;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: inherit;
}

.text-12 {
    font-size: 12px;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--font-light);
}

.reset-size {
    font-size: 16px;
}

.line-base {
    line-height: 1;
}

.font-300 {
    font-family: var(--font-light) !important;
}

.font-400 {
    font-family: var(--font-regular) !important;
}

.font-500 {
    font-family: var(--font-medium) !important;
}

.font-600 {
    font-family: var(--font-semibold) !important;
}

.text-grey {
    color: var(--grey) !important;
}

.text-dark {
    color: var(--dark) !important;
}

.text-primary {
    color: var(--primary) !important;
}

.text-transform-reset {
    text-transform: initial;
    letter-spacing: 0.025rem;
}
